# Don't Starve Together server

# by default excluded for safety reasons;
# you can comment out this if the repository is private
cluster_token.txt

# server runtime files
backup/
server_log.txt
server_chat_log.txt
